.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 10px;
    padding: 10px;
}

.container i {
    font-size: 200px;
}

.container h2 {
    font-size: 44px;
    padding-bottom: 10px;
}

button {
    border-radius: 7px;
    background-color: var(--blue);
    border: none;
    color: white;
    font-size: 15px;
    padding: 6px 12px;
}

h6 {
    font-size: 15px;
    color: var(--blue);
    padding-bottom: 5px;
    font-weight: bold;
}